@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto Condensed', sans-serif;
    }
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f2f5;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-image: url('dentist_background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

#container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

#email:hover{
    text-decoration: #59B0CC;
}

#header {
    background-color: #59B0CC;
    color: #fff;
    padding: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0;
}

#header h1 {
    margin: 0;
    font-size: 24px;
    text-shadow: 2px 2px 4px #000;
    position: relative; /* Set position to relative, absolute, or fixed */
    left: -10px; /* Adjust the left position to push the text to the left */
}

#header {
    background-color: #59B0CC;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0;
}

#header h1 {
    margin: 0;
    font-size: 24px;
    text-shadow: 2px 2px 4px #000;
    position: relative; 
    left: -10px; 
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 200px;
}

#nav ul li {
    display: inline;
    margin-left: 20px;
}

#nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    text-shadow: 2px 2px 4px #000;
}

#nav ul li a:hover {
    text-decoration: underline;
}

.thin-header {
    height: 50px;
    padding: 10px 0;
    transition: height 0.3s ease;
}

.thin-header h1 {
    font-size: 24px;
}
